<h2>Better than nothing, paper towel face-mask maker</h2>

<h3>One mask per 72 seconds.</h3>

<p><a href="card_pleaters.jpg"><img src="card_pleaters.jpg" width="20%"/></a>
<a href="folding.jpg"><img src="folding.jpg" width="20%"/></a>
<a href="finished_closed.jpg"><img src="finished_closed.jpg" width="20%"/></a>
<a href="finished_open.jpg"><img src="finished_open.jpg" width="20%"/></a></p>

<p>This simple, paper towel mask is based on <a href="https://www.youtube.com/watch?v=fMA7a6xO3G0">these</a> <a href="https://www.youtube.com/watch?v=aNjpH5lBZ8w">two</a> videos. You put the rubber bands around your ears, and the mask unfolds around your nose, mouth and chin.
In this method I add a card pleater to speed up the folding.</p>

<p>Warning: this is not a medical device. I make no guarantees about its efficacy.</p>

<p><video width="50%" controls>
  <source src="maskmaker.mp4" type="video/mp4">
Your browser does not support the video tag.
</video> </p>

<p>To view the video in higher resolution, right click on the video and click 'view video'.</p>

<h4>For each mask, you will need:</h4>

<ul>
<li>2 sheets of paper towel</li>
<li>1 paper napkin</li>
<li>2 rubber bands</li>
<li>Optional, for nose crimp: picture framing / craft / thin electrical / gardening wire, 30cm long.</li>
</ul>

<h4>For the maker, you will need:</h4>

<ul>
<li>Stapler and staples</li>
<li>Two large pieces of card / thin cardboard, (approx. 34 x 28cm, and 34 x 24cm).</li>
<li>Ruler (preferably metal)</li>
<li>Scissors</li>
<li>Large piece of flat wood (approx. 80 x 80cm or larger) for the base, preferably laminated for easy cleaning.</li>
<li>Screwdriver and screws.</li>
<li>Optional: Two thin pieces of wood to make pleater stops. (approx. 5 x 20 x 0.5 cm each)</li>
</ul>

<h4>Instructions to make each mask (after the mask maker has been completed):</h4>

<ul>
<li>Flatten out both card pleaters.</li>
</ul>

<p><a href="card_pleaters.jpg"><img src="card_pleaters.jpg" width="20%"/></a></p>

<ul>
<li>Place the first pleater onto your surface, so that the first fold is pointing up (V shape.)</li>
<li>Place one sheet of paper towel onto the first pleater, it should line up with the first fold.</li>
<li>Place the paper napkin in the center of the paper towel.</li>
<li>Place the second paper towel on top, try to line it up neatly.</li>
<li>Place the second pleater on top. Get the first V fold in place. Grab the entire assembly by the first fold, and then use the the two wooden pleater stops to push against as you make each fold. These are not really necessary, they will just speed things up if you are making a lot of masks, and help to get more accurate folds.</li>
</ul>

<p><a href="folding.jpg"><img src="folding.jpg" width="20%"/></a></p>

<ul>
<li>When the whole assembly is folded together, compress it with your fingers.</li>
<li>Place it down, and remove the top card.</li>
<li>Carefully slide the paper towels out of the bottom card</li>
</ul>

<p><a href="squeeze.jpg"><img src="squeeze.jpg" width="20%"/></a></p>

<ul>
<li>(Optional) Place a length of wire in the first or last fold. This is for the nose crimp.</li>
</ul>

<p><a href="wire.jpg"><img src="wire.jpg" width="20%"/></a></p>

<ul>
<li>Draw the folds together, and pinch one end firmly between your fingers, making sure the wire is tucked into the fold.</li>
<li>Wrap a rubber band around this end, place into the stapler, and put two staples in.</li>
</ul>

<p><a href="staple.jpg"><img src="staple.jpg" width="20%"/></a></p>

<ul>
<li>Avoid puncturing the rubber band with the staples. This will mean you can re-use the rubber band (after disinfection).</li>
<li>Press the stapler down as firmly as you can, since the mask is quite thick with all the folds.</li>
<li>Turn this side of the mask over and put in two more staples. This will ensure the mask and the rubber bands will stay together.</li>
<li>Repeat on the other side. You should use 8 staples all together.</li>
</ul>

<p><a href="finished_closed.jpg"><img src="finished_closed.jpg" width="20%"/></a></p>

<h4>Using the mask</h4>

<ul>
<li>Pull the folds apart by holding opposite sides of the center of the mask. If you have used the optional nose crimp wire, find it by feeling the folds, and ensure this side is the top.</li>
<li>Place the rubber bands around your ears.</li>
<li>Pull the top and bottom center of the mask around your nose and chin.</li>
<li>Shape the wire around your nose.</li>
</ul>

<h4>Instructions to make the mask maker:</h4>

<p>The base:</p>

<ul>
<li>Use a flat piece of wood approx. 80 x 80cm, although larger or smaller would still work. Preferably use laminated wood. This makes it easy to clean.</li>
</ul>

<p>The card pleaters:</p>

<ul>
<li>Cut two pieces of card, approx. 34 x 28cm, and 34 x 24cm. The different widths makes it much easier to separate the two sides after folding.</li>
<li>Make pencil marks every 2cm along each of the longer (34cm) sides.</li>
<li>Score along these lines with a blunt knife or scissor edge.</li>
<li>Use the table to make the first fold, then turn the card over and use the table to make the second fold. Repeat until every fold is done. To make a slightly sharper fold, fold the entire thing the other way.</li>
<li>Repeat for the second card pleater.</li>
</ul>

<p>The pleater stops:</p>

<ul>
<li>Fairly straightforward. Just cut two pieces of thin wood, approx. 5 x 20 x 0.5 cm each, and screw them to the base so that they are about 3cm apart.</li>
<li>These pieces cannot be too high, since it would interfere with the drawing in the folds of the pleat.</li>
</ul>

<p>The stapler:</p>

<ul>
<li>This step is optional. You can just keep the stapler with one hand while stapling the mask. However securing it on a board speeds things up and makes it less awkward.</li>
<li>Put three screws into the base board, around the back of the stapler, so you can push against it.</li>
<li>Place a screw into the base board, about 8-10 cm in front of the stapler. This is to hold one end of the rubber bands. The suitable distance from the stapler depends on the length of the rubber bands.</li>
</ul>

<p>&nbsp;</p>

<p>CC0 1.0 Universal (CC0 1.0). Public Domain Dedication</p>

<p><a href="https://creativecommons.org/publicdomain/zero/1.0/">https://creativecommons.org/publicdomain/zero/1.0/</a></p>

<p><a href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="CC0_button.png"></a></p>
